body {
  background: #ffffff;
  text-align: center;
  margin:auto;
  max-width:470px;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden;
}

.banner-card {
background-color: #ffffff;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 98%;
  border-radius: 6px;
  margin-bottom: 0.7rem;
  margin-top:0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.banner-card-graphic {
background: url('banner_300.png') no-repeat;
  height: 100%;
  width: auto;
  background-size:cover;
}

.small-card {
  background: #103488;
  border-radius: 2px;
  display: inline-block;
  height: 40px;
  position: relative;
  width: 98%;
  border-radius: 6px;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-container-card {
  background: #f2f8ff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 0rem;
  position: relative;
  width: 98%;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0.7rem;

}

.contact-card {
  background: #fff;
  display: inline-block;
  height: 70px;
  margin-top: 0.2rem;
  margin-bottom:0.2rem;
  padding:0.3rem;
  position: relative;
  width: 90%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.light-text {
  font-size:13px;
  color: #949494;
  text-align: left;
  margin-left:1rem;
  font-family: 'Roboto', sans-serif;
}

.tag {
  background-color: #435171;
  border: 0.2px;
  color: #ffffff;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 0.4rem;

}

.tag-emergency {
  background-color: #ffffff;
  border: 0.2px;
  color: #000000;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 0.4rem;

}

.contact-card-heaading {
  background: #fff;
  display: inline-block;
  height: 35px;
  margin-top: 0.2rem;
  margin-bottom:0.2rem;
  padding:0.3rem;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;

}

.heading-head {
  font-size:19px;
  color: black;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  margin: 0.2rem;
  left:0.7rem;
  letter-spacing: 0.5px;
}

.heading-price {
  font-size:12px;
  color: #24a045;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  margin: 0.2rem;
  right:0.8rem;
  letter-spacing: 1px;
}

.heading-time {
  font-size:12px;
  color: #5475a7;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  margin: 0.2rem;
  margin-top:0.7rem;
  left:0.7rem;
  letter-spacing: 1px;
}

.heading-call {
  font-size:15px;
  color: black;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  margin: 0.2rem;
  right:0.5rem;
  letter-spacing: 1px;
  margin-top:0.3rem;
}

.heading-location {
  font-size:10px;
  color: #808080;
  text-align: left;
  font-family: 'Roboto', sans-serif, sans-serif;
  position: absolute;
  margin: 0.2rem;
  margin-top: 0.6rem;
  left:0.7rem;
  letter-spacing: 0.7px;
}

.call-button {
  background-color: #00ade1;
  border: none;
  color: white;
  padding:5px;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;

}

.banner-mohali-pkl {
  font-size:18px;
  color: #103488;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: auto;
  letter-spacing: 0.8px;
}

.material-icons {
  vertical-align:bottom;
  color: #103488;
}

.btn-container-card-private {
  background: #def1eb;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 0rem;
  position: relative;
  width: 98%;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0.7rem;

}

.btn-container-card-ngo {
  background: #d9dffb;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 0rem;
  position: relative;
  width: 98%;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0.7rem;

}

a {
  text-decoration: none;
}

.banner-mohali-pkl a:link{
  color: #ffffff;
}

.material-icons a:link{
  color: #ffffff;
}

.feed-container-card {
  background: #ffffff;
  border-radius: 0px;
  max-height: 7rem;
  margin: 1rem;
  position: relative;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0.7rem;
  overflow-x: scroll!important;
  overflow-y: hidden;

}

.feed-card {
  background: #f2f8ff;
  display: inline-block;
  height: 6rem;
  margin-top: 0.2rem;
  margin-bottom:0.2rem;
  padding:0.3rem;
  position: relative;
  width: 5rem;
  overflow-x: scroll!important;
  border-radius: 0.75rem;
  margin-left: 1rem;
}

.btn-container-card-outstation {
  background: #fbdddd;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 0rem;
  position: relative;
  width: 98%;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0.7rem;

}

.btn-container-card-emergency {
  background: #f19c9c;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 0rem;
  position: relative;
  width: 98%;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0.7rem;

}

.banner-card-graphic-panchkula {
background: url('images/banner-panchkula.png') no-repeat;
  height: 100%;
  width: auto;
  background-size:cover;
}

.banner-card-graphic-zirakpur {
background: url('images/banner-zirakpur.png') no-repeat;
  height: 100%;
  width:  auto;
  background-size:cover;
}

.banner-card-graphic-mohali {
background: url('images/banner-mohali.png') no-repeat;
  height: 100%;
  width: auto;
  background-size:cover;
}

.card-top-head {
  background: #28388F;
  height: 6.25rem;
  position: relative;
  max-width: 470px;
}

.card-top-container {
  background: #fcf7ed;
  min-height:200px;
  position: relative;
  max-width: 470px;
  
}


p {
  font-family: 'Roboto', sans-serif;
  color: #000;
}
.circle-1 {
  width: max(10vw);
  max-width:44px;
  height: max(10vw);
  max-height:44px;
  background-color:#fefefe;
  background: url("https://img.favpng.com/9/13/17/wellington-free-ambulance-emergency-scalable-vector-graphics-icon-png-favpng-D7FeFUAwcKGcL3xGjVjRAyTVm.jpg");
background-size:cover;
right:0px!important;  
}

.circle-2 {
  width: max(10vw);
  max-width:44px;
  height: max(10vw);
  max-height:44px;
  background-color:#fefefe;
  background: url("https://img.favpng.com/9/13/17/wellington-free-ambulance-emergency-scalable-vector-graphics-icon-png-favpng-D7FeFUAwcKGcL3xGjVjRAyTVm.jpg");
background-size:cover;
right:0px!important;  
}

.circle-3 {
  width: max(10vw);
  max-width:44px;
  height: max(10vw);
  max-height:44px;
  background-color:#fefefe;
  background: url("https://img.favpng.com/9/13/17/wellington-free-ambulance-emergency-scalable-vector-graphics-icon-png-favpng-D7FeFUAwcKGcL3xGjVjRAyTVm.jpg");
background-size:cover;
right:0px!important;  
}

.circle-4 {
  width: max(10vw);
  max-width:44px;
  height: max(10vw);
  max-height:44px;
  background-color:#fefefe;
  background: url("https://img.favpng.com/9/13/17/wellington-free-ambulance-emergency-scalable-vector-graphics-icon-png-favpng-D7FeFUAwcKGcL3xGjVjRAyTVm.jpg");
background-size:cover;
right:0px!important;  
}


.card {
  display: inline-block;
  margin: 0.5rem;
  padding: 1px 10px 4px 4px;
  border-radius: 2px;
  background-color: #FFF;
}
.card div {
  display: inline-block;
    vertical-align: text-top;
  margin-top: 0.375rem;
}
.zdepth1 {
  z-index: 10;
  border-radius:0.5rem;
  width:200px;
    display: inline-block;
  text-align:left;

}

.head {
  font-weight: 500;
  font-size: 14px;
  line-height: 4px;
  opacity: 0.87;
  text-align:right!important;
}



.subhead {
  font-weight: 400;
  font-size: 12px;
  line-height: 4px;
  opacity: 0.54;
  text-align:right!important;

}

.card-row-1 {
  display:inline-block;
  padding-top:2rem;
}
.card-row-2 {
  display:inline-block;
  padding-botton:2rem;
}

.scale-margin {
  margin-left:20px;
}

@media screen and (max-width: 470px) {
  .zdepth1 {
      width:max(36vw);

  }
  
  .head {
  font-size: 3vw!important;
  }
 .subhead {
  font-size: 2.2vw!important;
  }
  
  .scale-margin {
    margin-left:4.85vw;
  }
}


